/* colores */
/*

rojo semaforo rgba(255,96,87,255);
verde semaforo rgba(98,186,71,255);
amarillo semaforo rgba(254,189,46,255);

azul menu rgba(2,122,255,255);
celeste react #61DBFB;

blanco letra rgba(235,235,235,255);
gris intermedio rgba(90,92,92,255);
gris semioscuro rgba(55,57,57,255);
gris oscuro rgba(34,36,37,255);

*/

.cart-titulos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart-titulos h2{
    color: rgba(254,189,46,255);
    font-size: 2.5em;
    display: flex;
    text-align: center;
}

.cart-titulos p {
    color: rgba(235,235,235,255);
    font-size: 1.5em;
    display: flex;
    text-align: center;
}


.cart-area{
    height: 500px;
    width: 70%;
    background-color: rgba(235,235,235,255);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    color: rgba(34,36,37,255);
}


.botones-footer{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    justify-content: space-around;
}


.btn-volver2 {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(34,36,37,255);
    font-size: 1em;
    padding: 0.2em;
    margin-right: 1em;
    text-align: center;
    color: rgba(235,235,235,255);
    width: 12em;
    text-decoration: none;
    margin-top: 10px;
}
.btn-avanzarCompra {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(254,189,46,255);
    font-size: 1em;
    padding: 0.2em;
    margin-left: 1em;
    text-align: center;
    color: rgba(34,36,37,255);
    width: 12em;
    text-decoration: none;
    margin-top: 10px;
}