/* colores */
/*

rojo semaforo rgba(255,96,87,255);
verde semaforo rgba(98,186,71,255);
amarillo semaforo rgba(254,189,46,255);

azul menu rgba(2,122,255,255);
celeste react #61DBFB;

blanco letra rgba(235,235,235,255);
gris intermedio rgba(90,92,92,255);
gris semioscuro rgba(55,57,57,255);
gris oscuro rgba(34,36,37,255);

*/

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    /* 
    background-color: rgba(235,235,235,255);
    border-radius: 1em;
    padding: 1em;
    width: calc(33.33% - 20px); 
    */
    /*
    background-color: rgba(235, 235, 235, 255);
    border-radius: 1em;
    padding: 1em;
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px); 
    box-sizing: border-box;  
    */

    background-color: rgba(235, 235, 235, 255);
    border-radius: 1em;
    padding: 1em;
    width: 350px;
    height: auto;


    
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
}

.product p {
    margin: 5px 0;
}

.btn-masInfo {
    border-radius: 8px;
    background-color: rgba(254,189,46,255);
    padding: 0.5em;
    font-size: 1em;
    padding: 0.2em;
    text-align: center;
    color: rgba(34,36,37,255);
    text-decoration: none;
}