/* colores */
/*

rojo semaforo rgba(255,96,87,255);
verde semaforo rgba(98,186,71,255);
amarillo semaforo rgba(254,189,46,255);

azul menu rgba(2,122,255,255);
celeste react #61DBFB;

blanco letra rgba(235,235,235,255);
gris intermedio rgba(90,92,92,255);
gris semioscuro rgba(55,57,57,255);
gris oscuro rgba(34,36,37,255);

*/

.item{
    background-color: rgba(254,189,46,255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0.5em;
    border-radius: 1em;
}

.item h3{
    color: rgba(34,36,37,255);
    font-size: 14px;
}

.item p{
    color: rgba(34,36,37,255);
    font-size: 14px;
}

.item img{
    height: 10em;
    width: auto;
}

.btn-masInfo {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(34,36,37,255);
    padding: 0.5em;
    font-size: 1em;
    padding: 0.2em;
    text-align: center;
    color: rgba(235,235,235,255);
    text-decoration: none;
}