/* colores */
/*

rojo semaforo rgba(255,96,87,255);
verde semaforo rgba(98,186,71,255);
amarillo semaforo rgba(254,189,46,255);

azul menu rgba(2,122,255,255);
celeste react #61DBFB;

blanco letra rgba(235,235,235,255);
gris intermedio rgba(90,92,92,255);
gris semioscuro rgba(55,57,57,255);
gris oscuro rgba(34,36,37,255);

*/

/* --------HEADER------------------------------------------------------------------------------------------ */





/* --------MAIN-------------------------------------------------------------------------------------------- */


.main-logo {
    height: 10em;
    padding: 1.5em;
    display: flex;
}

.landing-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*     padding: 2em; */
}

.main-area h1 {
    font-size: 3em;
    line-height: 1.1;
    font-weight: bolder;
    display: flex;
    color: rgba(254,189,46,255);
}

.proximamente{
    color: black;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 2em;
    display: flex;
}

.btn-newsletter {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(254,189,46,255);
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 900;
    display: flex;
}

/* --------FOOTER------------------------------------------------------------------------------------------ */
/*
.footer-area p{
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px black;
}
*/